.board {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.kanban {
  flex: 1;
  display: flex;
  gap: 10px;
}

.board .col {
  flex: 1;
  background-color: #374151; /* Darker background similar to sidebar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.board .col h1 {
  text-align: center;
  margin: 10px auto;
  padding: 5px 10px;
  font-weight: 400;
  width: max-content;
  background-color: #3b82f6; /* Primary color similar to the complete button in Header */
  font-size: 20px;
  color: white;
  border-radius: 4px;
}

.addTask {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.addTask input {
  padding: 8px;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 1rem;
  border: 1px solid #9ca3af; /* Light gray border for input */
  background-color: #1f2937; /* Darker background for input */
  color: #d1d5db; /* Light text color */
}

.addTask button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #3b82f6; /* Primary button color */
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.addTask button:hover {
  background-color: #2563eb; /* Darker blue on hover */
}
